services:
  - type: web
    name: hr-bot-mechel
    env: python
    region: frankfurt
    plan: free
    autoDeploy: true
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python create_database.py
      python check_database.py
      python add_faq.py  # Дополнительно заполняем базу, если нужно
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: MEME_ENABLED
        value: "false"
      - key: FEEDBACK_ENABLED
        value: "true"
      - key: AUTO_SET_WEBHOOK
        value: "true"
      - key: RENDER_EXTERNAL_URL
        fromService:
          name: hr-bot-mechel
          type: web
          property: url
      - key: PORT
        value: "10000"
    healthCheckPath: /health
    healthCheckInterval: 60  # Проверка каждые 60 секунд

