services:
  - type: web
    name: hr-bot-render
    env: python
    region: frankfurt
    plan: free
    autoDeploy: true
    pythonVersion: "3.11"
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: MEME_ENABLED
        value: "false"
      - key: FEEDBACK_ENABLED
        value: "true"
